<h1>Available News</h1>

{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}

{% if news %}

    <ul>
        {% for post in news %}
            <li>
                <a href="{% url 'newsapp:post' post_id=post.id %}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% else %}
    <p>No news are available right now.</p>
{% endif %}